@font-face {
    font-family: 'MyFont';
    src: url('font/cursivesans-bold.ttf') format('truetype');
  }
  
.font-myfont{
  font-family: 'myfont';
}

@font-face {
  font-family: 'vintage';
  src: url('font/finestvintagepersonaluseony.ttf') format('truetype');
}

.font-vintage{
font-family: 'vintage';
}

@font-face {
  font-family: 'sunflower';
  src: url('font/krinkesregularpersonal.ttf') format('truetype');
}

.font-sunflower{
font-family: 'sunflower';
}

@font-face {
  font-family: 'cursive';
  src: url('font/SunFlower.ttf') format('truetype');
}

.font-cursive{
font-family: 'cursive';
}
  